/* https://panda-css.com/docs/installation/nextjs#configure-the-entry-css-with-layers */
@layer reset, base, tokens, recipes, utilities;

/* Loading spinner animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
